@import '../../styles/config';

.animate__fadeInUp{
    animation: fadeInUp 1s 0s;

}
.animate__lightSpeedInRight{
    animation:  lightSpeedInRight 1s 0s ;
}
.bg-gradient{
    background-image:$gradientBackground;
}

.skills {
    margin-bottom: 20px;
}
.skills a{
    margin: 0 5px;
}