
@for $i from 0 through 130 {
    .animate-letter.__#{$i} {
        animation-delay: #{calc($i/100)}s;
    }
}

.animate-letter{
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s ;
    animation-fill-mode: forwards;
    min-width: 4.5px;
}
