//theme color 
$white : #fff;
$background : hsl(210, 17%, 12%);
$slate:#292e32;
$salmon : hsl(10, 100%, 80%);
$marine:#00ffd9;
$text-color:#dee0e0;
$color: #1616163b;
//wapper lenght
$wapperlength: 1200px;

// vertical space
$vcontact: 50%;
// space-vertical-line
$left-space: 70px;

// gradient line 
$gradientTobottom : linear-gradient(to bottom,  rgba(255, 171, 155, 0.4), rgba(255, 171, 155, 0.7),rgba(0, 255, 255, 0.7));
$gradientTotop : linear-gradient(to top,  rgba(255, 171, 155, 0.4), rgba(255, 171, 155, 0.7),rgba(0, 255, 255, 0.7));

//gradient-text :
$gradientText : linear-gradient(to right,  rgba(255, 171, 155, 0.4), rgba(255, 171, 155, 0.7),rgba(0, 255, 255, 0.7));

//gradient-background 
$gradientBackground : linear-gradient(to right,  rgba(255, 171, 155, 0.4), rgba(255, 171, 155, 0.7),rgba(0, 255, 255, 0.7));
