$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px; 
$mobile-tablet-larger: 980px;
$mobile-tablet-medium: 780px;

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin mobileAndTablet {
    @media (max-width: #{$mobile-tablet-larger}) {
        @content;
    }
}

@mixin mobileAndTabletMin {
    @media (max-width: #{$mobile-tablet-medium}) {
        @content;
    }
}
