@import '../../styles/config';
@import 'typed';

.gradient-text{
    background-image:$gradientText;
    background-clip: text;
    color:transparent
}

.typing{
    @include typed((
        "Nhat": (
            background-image:linear-gradient(to right,  rgba(255, 171, 155, 0.4), rgba(255, 171, 155, 0.7),rgba(0, 255, 255, 0.7)),
            background-clip: text,
            color:transparent
        ),
        "Javier" : (
            background-image:linear-gradient(to right,  rgba(255, 171, 155, 0.4), rgba(255, 171, 155, 0.7),rgba(0, 255, 255, 0.7)),
            background-clip: text,
            color:transparent
        )
    ),.6,(caret-width: 8px, caret-space: 10px));
}
.animate__slideInDown{
    animation: slideInDown 1s .2s ;
    animation-fill-mode : both;
}   