@import '../../styles/variables';
@import '../../styles/reponsive';

.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: $padding-large 0;
    background-color: #000812;

    .section-about-title {
        max-width: $max-width-title-section;
        padding: 0 3rem;
    }
    .roadmap {
        margin: 80px 0;
        position: relative;
        height: 2000px;
        width: 1.5rem;
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .position-absolute {
            border: #fff 0.5rem solid;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        $n: 8;
        @for $i from 1 through $n {
            .position-absolute:nth-child(#{$i}) {
                top: percentage(calc(($i - 1) / $n));
            }
        }

    }
}

@include mobileAndTablet {
    .section-about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .section-about-title {
            align-self: center;
            max-width: $max-width-title-section - 10rem;
        }
        .roadmap {
            margin-left: 3rem;
            .roadmap-desktop {
                display: none;
            }
        }
    }
}

@include mobile {
    .section-about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .section-about-title {
            max-width: $max-width-title-section - 10rem;
        }
        .roadmap {
            margin-left: -13rem;
            background: transparent;

            .position-absolute {
                display: none;
            }

            .roadmap-tablet {
                width: 100vw;
                margin: 0 1rem;
            }
        }
    }
}

@include desktop {
    .section-about {
        .roadmap {
            .roadmap-tablet {
                display: none;
            }
        }
    }
}
