@import '../../styles/variables';
@import '../../styles/reponsive';

.section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .section-contact__items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10rem 0;
        align-items: flex-start;

        > div {
            flex: 1;
            margin-right: 15rem;
        }
        > form {
            flex: 1;
            display: flex;
            flex-direction: column;

            > input {
                outline: none;
                border: 0;
                border-radius: 5px;
                padding: 1.2rem;

                &:focus {
                }
            }

            > textarea {
                resize: none;
                outline: none;
                border: 0;
                border-radius: 5px;
                padding: 2rem 1.2rem;
            }

            .button-contact {
                align-self: end;
                background-color: var(--secondary2-color);
                font-weight: $font-weight-bold;
                color: var(--primary-color);
            }
        }

        > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
@include mobileAndTablet {
    .section-contact {
        .section-contact__items {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > div {
                margin: 0 3rem;
            }

            > form {
                flex: 1;
                width: 100%;
            }
        }
    }
}
