@import '../../styles/variables';
@import '../../styles/reponsive';

.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem;
    color: var(--secondary2-color);

    .navbar__logo {
        justify-self: start;
    }

    .navbar__menu {
        justify-self: center;
        position: relative;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        .animation {
            position: absolute;
            height: 100%;
            top: 0;
            z-index: -1;
            background: var(--hover-color);
            transition: all 0.5s ease 0s;
        }

        li {
            width: 100px;
            border-radius: 0.5rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                padding: 1rem;
                text-align: center;
            }
        }

        li:nth-child(1) {
            width: 100px;
        }

        .start-home,
        li:nth-child(1):hover ~ .animation {
            width: 100px;
            left: 0;
        }

        li:nth-child(2) {
            width: 100px;
        }

        li:nth-child(2):hover ~ .animation {
            width: 100px;
            left: 100px;
        }

        li:nth-child(3) {
            width: 100px;
        }

        li:nth-child(3):hover ~ .animation {
            width: 100px;
            left: 200px;
        }

        li:nth-child(4) {
            width: 110px;
        }

        li:nth-child(4):hover ~ .animation {
            width: 100px;
            left: 300px;
        }
    }
    .navbar__mobile {
        display: none;
    }

    .navbar__button__group {
        display: flex;
        align-items: center;
        overflow: hidden;
    }
}

.animation-navbar-showin {
    opacity: 0;
}

@include mobileAndTablet {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        color: var(--secondary2-color);

        .navbar__logo {
            display: none;
        }
        .navbar__mobile {
            align-self: self-start;
            display: block;
        }

        .navbar__menu {
            display: none;
        }
        .navbar__button__group {
            align-self: self-end;
        }
    }
    
}

@include mobile {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        color: var(--secondary2-color);

        .navbar__logo {
            display: none;
        }
        .navbar__mobile {
            align-self: self-start;
            display: block;
        }

        .navbar__menu {
            display: none;
        }
        .navbar__button__group {
            align-self: self-end;
        }
    }
}
