.toggle-theme-button{
  background-color: transparent;
  padding: 1rem;
  border-radius: 50%;
  margin-right: 3rem;
  border: 0;
  cursor: pointer;
  font-size: 2.5rem;

  .custom-icon-light{
    color: #ffff;
  }

}